body {
	background-image: url("background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}

nav {
	background-color: #6200ea;
	padding: 0px 20px;
}

nav li a:hover {
	color: black;
}

nav a img {
	padding-top: 2px;
}

nav a span {
	float: right;
}

#desktop li a {
	color: white;
}

#desktop ul{
	background-color: #6200ea;
}
.container li a {
	color: white;
}

.container ul {
	background-color: #6200ea;
}