body {
	padding-top: 0px;
	height: 100%;
	margin: 0;
	background-color: white;
	/* background-image: url("background2.jpg"); */
	background-size: cover;
	background-repeat: no-repeat;
}



nav {
	background-color: #6200ea;
	padding: 0px 20px;
}

nav li a:hover {
	color: black;
}

nav a img {
	padding-top: 2px;
}

nav a span {
	float: right;
}

#desktop li a {
	color: white;
}

#desktop ul{
	background-color: #6200ea;
}
.container li a {
	color: white;
}

.container ul {
	background-color: #6200ea;
}

th, td{
	border-width: medium;
	border-style: solid;
	text-align: center;
	font-family: sans-serif;
	color: white;
}

.container {
	background-color: #6200ea;
	
}

footer {
	background-color: #6200ea;
}

p, small {
	padding-top: 1px;
	text-align: center;
	color: white;
	font-family: sans-serif;
}