body {
	background-image: url("background3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#titulo {
	width: 100%;
	height: 80px;
	padding: 1%;
	font-family: sans-serif;
	color: white;
	font-size: small;
	text-align: center;
	background-color: #6200ea;
}

.container {
	background-color: #6200ea;
	width: 50%;
	height: 140px;
	padding-top: 30px;
	border-radius: 10px;
	text-align: center;
}