body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/images/background1.jpg");	
}

nav {
	background-color: #6200ea;
	padding: 0px 20px;
}

nav li a:hover {
	color: black;
}

nav a img {
	padding-top: 2px;
}

nav a span {
	float: right;
}

#desktop li a {
	color: white;
}

#desktop ul{
	background-color: #6200ea;
	box-shadow: 5px 5px 10px 5px black;
	border-radius: 10px;
}
.container li a {
	color: white;
}

.container ul {
	background-color: #6200ea;
	box-shadow: 5px 5px 10px 5px black;
	border-radius: 10px;
}

video {
	position: absolute;
	top: 64px;
	left: 0;
	width: 100%;
	heigth: 100%;
	object-fit: cover;
}