<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head lang="pt-br">
<title>Tabela</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/incon?family=Material+Incons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="style/tabelaSQL.css" />
</head>
<body>
	<table class="container">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Quarto</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="paciente : ${pacientes}">
				<td><span th:text="${paciente.id}"></span></td>
				<td><span th:text="${paciente.nome}"></span></td>
				<td><span th:text="${paciente.idade}"></span></td>
				<td><span th:text="${paciente.quarto}"></span></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" src="materialize/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>