<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head lang="pt-br">
<title>Tabela</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/tabelaSQL.css" />
</head>
<body>

	<nav>

		<a href="/principal" class="brand-logo"><img
			class="responsive-img" alt="Logo Java"
			src="images/logo-java-coffee-cup.svg"><span>PROJETO</span></a>

		<!-- menu para desktop -->
		<ul class="right hide-on-med-and-down" id="desktop">

			<li><a href="/principal"><i class="material-icons left">home</i>Home</a></li>
			<li><a class="right desktop hide-on-med-and-down"
				data-target="listaServiço"><i class="material-icons left">work</i>Serviços</a>
				<ul id="listaServiço" class="dropdown-content">

					<!-- Aqui pode ser adicionados novos serviços na lista -->
					<li><a href="/novo"><i class="material-icons left">perm_identity</i>Novo</a></li>
					<li><a href="/alterarDados"><i class="material-icons left">create</i>Alterar
							dados</a></li>
					<li><a href="/lista"><i class="material-icons left">visibility</i>Visualizar
							Banco de dados</a></li>
					<li><a href="/carregar"><i class="material-icons left">file_upload</i>Carregar
							Arquivo</a></li>
				</ul></li>

			<li><a class="modal-trigger" data-target="modal"><i
					class="material-icons left">help</i>Informações do Sistema</a></li>

			<li><a href="/acesso"><i class="material-icons left">meeting_room</i>Sair</a></li>
		</ul>

		<!-- menu para moveis -->
		<div class="container hide-on-large-only">

			<a href="/principal" class="brand-logo"><img class="responsive-img"
				alt="Logo Java" src="images/logo-java-coffee-cup.svg"><span>PROJETO</span></a>


			<ul class="sidenav" id="mobile">
				<li><a href="/principal"><i class="material-icons left">home</i>Home</a></li>

				<li><a class="mobile" data-target="listaServiçoMoveis"><i
						class="material-icons left">work</i>Serviços</a>
					<ul id="listaServiçoMoveis" class="dropdown-content">

						<!-- Aqui pode ser adicionados novos serviços na lista -->
						<li><a href="/novo"><i class="material-icons left">perm_identity</i>Novo</a></li>
						<li><a href="/alterarDados"><i class="material-icons left">create</i>Alterar
								dados</a></li>
						<li><a href="/lista"><i class="material-icons left">visibility</i>Visualizar
								Banco de dados</a></li>
						<li><a href="/carregar"><i class="material-icons left">file_upload</i>Carregar
								Arquivo</a></li>
					</ul></li>

				<li><a class="modal-trigger" data-target="modal"><i
						class="material-icons left">help</i>Informações do Sistema</a></li>

				<li><a href="/acesso"><i class="material-icons left">emoji_people</i>Sair</a></li>
			</ul>

			<a class="sidenav-trigger" data-target="mobile" href="#"><i
				class="material-icons">menu</i></a>
		</div>
	</nav>

	<!-- card com informação do sistema -->
	<section class="container center">
		<article class="col s12 m12 l12">

			<div class="modal modal-fixed-footer" id="modal">

				<div class="modal-content">
					<h3 class="light">Sobre o projeto</h3>
					<p>Este sistema foi desenvolvido com a intenção de colocar em
						prática, meus conhecimentos no desenvolvimento de uma aplicação
						completa, que integrasem as tecnologias backend e frontend. Claro
						que tive a preocupação de fazer com que ele também fosse
						responsivo. Foi o primeiro projeto que pude colocar em prática,
						todas as idéias que já algum tempo eu pensava em implementar.
						Quando comecei, queria apenas criar uma simples aplicação que
						fosse capaz de carregar um arquivo no banco de dados. Mas conforme
						avançava no projeto e desenvolvia minhas habilidades com
						ferramentas ou tecnologias que ainda não dominava, comecei a
						pensar nas possibilidades que eu poderia fazer. Quando fui ver,
						meu projeto começou a ter uma característica própria e eu
						mergulhava cada vez mais cada dia que passava. Em outras palavras,
						me orgulho desse meu filho kkk. Bom brincadeiras à parte, esse
						projeto foi a introdução que precisava para buscar novos
						conhecimentos. Vejo como cada tecnologia completa uma a outra.
						Espero que sejam inspirados a também seguir nesta trajetoria e
						quem sabe nos encontramos por aí.</p>
					<br>
					<p>Victor Pinho</p>
				</div>
				<div class="modal-footer">
					<a class="btn modal-close modal-action">Sair</a>
				</div>
			</div>

		</article>
	</section>
	<br>
	<br>
	<br>

	<div>
		<h4 class="center">Filtros</h4>
		<form id="filtro" name="filtro"
			class="row center" method="get">

			<label class="col s2 m2 l1 offset-s1 offset-l3"> <input value="nome"
			    name="escolhido" type="radio" class="with-gap" onclick="getRadioEscolhido()"><span>Nome</span>
			</label>
			
			<label class="col s2 m2 l1"> <input value="cpf"
				name="escolhido" type="radio" class="with-gap" onclick="getRadioEscolhido()"><span>CPF</span>
			</label>
			
			<label class="col s2 m2 l1"> <input value="rg" 
			    name="escolhido" type="radio" class="with-gap" onclick="getRadioEscolhido()"><span>RG</span>
			</label>
			
			<label class="col s2 m2 l1"> <input value="todos"
			    name="escolhido" type="radio" class="with-gap" onclick="getRadioEscolhido()"><span>Todos</span>
			</label>
			
			<label class="col s2 m2 l2"> <input value="a-z"
				type="checkbox" class="with-gap"><span>Ordenar de A-Z</span>
			</label><br><br> 
			
			<input id="placeholder" value="" name="dado" type="text"
				placeholder=""
				class=" center col s6 m5 l4 offset-s3 offset-m3 offset-l4">
			
			<button class=" buscar waves-effect waves-light btn-small left"
				type="submit" onclick="montarEndpoint()">Buscar</button>
		</form>

	</div>


	<section class="col s12 l12">
		<table class="container">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cpf</th>
					<th>Rg</th>
					<th>Nascimento</th>
					<th>Genero</th>
					<th>Celular</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Endereco</th>
					<th>Cep</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paciente : ${pacientes}">
					<td><span th:text="${paciente.nome}"></span></td>
					<td><span th:text="${paciente.cpf}"></span></td>
					<td><span th:text="${paciente.rg}"></span></td>
					<td><span th:text="${paciente.nascimento}"></span></td>
					<td><span th:text="${paciente.genero}"></span></td>
					<td><span th:text="${paciente.celular}"></span></td>
					<td><span th:text="${paciente.telefone}"></span></td>
					<td><span th:text="${paciente.email}"></span></td>
					<td><span th:text="${paciente.endereco}"></span></td>
					<td><span th:text="${paciente.cep}"></span></td>
				</tr>
			</tbody>
		</table>
	</section>


	<footer>
		<p>Projeto Java Web 2020</p>
		<small><p>&copy;Copyright Todos dos direitos reservados.
				Desenvolvido por Victor Pinho.</p></small> <small><p>Sistema de
				cadastro hospitalar. Tecnologias utilizadas: Java 8, Spring Boot,
				HTML, CSS e Materialize.</p></small>
	</footer>



	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();

			$('.desktop').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrainWidth : false,
				hover : true,
				alignment : 'left',
				coverTrigger : false
			});

			$('.mobile').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrainWidth : false,
				hover : false,
				alignment : 'left',
				coverTrigger : false
			});

			$('.modal').modal();

		});

		let form, checked;

		function getRadioEscolhido() {
			form = document.forms.filtro;
			checked = form.querySelector('input[name=escolhido]:checked');

			return document.getElementById("placeholder").placeholder = "Buscar "
					+ checked.value;
		}

		function montarEndpoint() {
			
			if(checked.value !== 'todos'){
				return document.getElementById("filtro").action = document.getElementById("placeholder").value;
			}
			else{
				return document.getElementById("filtro").action = "buscar";
			}
		}
		
	</script>

</body>
</html>